<h1>Custom Form Control</h1>

<form [formGroup]="form">
  <custom-input
    formControlName="firstname"
    label="Firstname"
    inputId="firstname"
  />
  <custom-input
    formControlName="lastname"
    label="Lastname"
    inputId="lastname"
  />

  <div class="box">
    <label for="email">Email</label>
    <br />
    <input id="email" placeholder="test@test.sk" formControlName="email" />
  </div>
  <br />

  <phone-input key="phone" label="Phone" />

  <br />

  <phone-input key="complaint-phone" label="Complaint phone" />

  <br />
  
  <button type="submit" (click)="submit()">Submit</button>
  {{ form.value | json }}
</form>
